.character-img {
	width: 250px;
	height: 250px;
	margin: 15px;
	cursor: pointer;
	
	opacity: 0.85;
	border-radius: 1em;
	box-shadow: 1px 15px 45px 9px rgba(0,0,0,0.75);
	
	transition: all 200ms linear;
}

.character-img:hover {
/* 	border: 10px solid black; */
	transform: scale(1.05);
	box-shadow: 1px 15px 38px 15px rgba(0,0,0,0.75);
}